<template>
  <b-container fluid>
    <!-- User Interface controls -->
    <b-card
      border-variant="dark"
      align="left"
      title="Compare with"
      class="scrollAble"
    >
      <b-row>
        <b-col lg="6" class="my-1">
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">
                <font-awesome-icon icon="search-minus" />
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col sm="7" md="6" class="my-1">
          <b-pagination
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="fill"
            size="sm"
            class="my-0"
          ></b-pagination>
        </b-col>
      </b-row>

      <!-- Main table element -->

      <b-table
        ref="otherSuspisiousDocumentsTable"
        show-empty
        small
        fixed
        sticky-header="200px"
        selectable
        striped
        hover
        :no-border-collapse="true"
        :items="items"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
        :filter="filter"
        :filterIgnoredFields="notFilterOn"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        :sort-direction="sortDirection"
        select-mode="single"
        @filtered="onFiltered"
        @row-selected="onRowSelected"
      >
        <template v-slot:cell(name)="row">
          {{ row.value.first }} {{ row.value.last }}
        </template>
      </b-table>
    </b-card>
  </b-container>
</template>

<script>
import Store from "../../../../store";
import * as Helper from "../../../../helpers/MainHelper";

export default {
  name: "SuspisiousModalTable",
  props: {
    file: Object | File
  },
  data() {
    return {
      items: [],
      fields: [
        { key: "id", label: "ID", sortable: true, sortDirection: "desc" },
        { key: "author", label: "Author", sortable: true },
        { key: "title", label: "Title", sortable: true }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: Store.state.sortingSettings.perPage,
      pageOptions: Store.state.sortingSettings.pageOptions,
      sortBy: Store.state.sortingSettings.sortBy,
      sortDesc: Store.state.sortingSettings.sortDesc,
      sortDirection: Store.state.sortingSettings.sortDirection,
      filter: null,
      notFilterOn: ["uuid", "format"],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      },
      rowData: null,
      selected: []
    };
  },
  watch: {
    file(value) {
      this.getDataItems();
    },
    selected(value) {}
  },
  updated() {
    this.initSelectedFileToCompare();
  },
  mounted() {
    this.initSelectedFileToCompare();
  },
  beforeMount() {
    this.getDataItems();
  },
  methods: {
    onRowSelected(items) {
      this.selected = items;
      if (this.selected.length > 0) {
        Store.dispatch("selectFileToCompare", this.selected[0]);
      }
      if (this.selected.length === 0) {
        Store.dispatch("selectFileToCompare", null);
      }
    },
    initSelectedFileToCompare() {
      this.selected.push(this.items[0]);
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    getDataItems() {
      let items = [];
      let files = Store.state.finishedFiles;
      let selectedComparingFile = Store.state.selectedComparingFile.file;
      if (files.length > 0) {
        for (let f of files) {
          if (selectedComparingFile.upload.uuid !== f.upload.uuid) {
            items.push({
              title: f.info.fileName,
              format: f.info.fileFormat,
              size: Helper.getKiloBites(f.size) + " KB",
              author: f.info.name,
              year: f.info.year,
              organisation: f.info.area,
              language: f.info.language,
              uuid: f.upload.uuid
            });
          }
        }
        this.items = items;
        this.totalRows = this.items.length;
      }
    }
  }
};
</script>

<style scoped>
.scrollAble {
  max-height: 40vh;
  overflow-y: scroll;
  padding: 0;
}
.searchIcon {
  margin-top: 8px;
  margin-right: 5px;
}
.container-fluid {
  padding: 0 !important;
}
</style>
