<template>
  <div>
    <b-modal
      id="suspisiousCompareModal"
      content-class="shadow w-100"
      title="index"
      size="xl"
      :scrollable="true"
      :lazy="true"
    >
      <b-container fluid>
        <b-row>
          <b-col cols="4">
            <b-container fluid>
              <b-card
                border-variant="dark"
                align="left"
                subTitle="Detail"
                class="scrollAble"
              >
                <b-form-group
                  label-cols="6"
                  label-cols-lg="4"
                  label-size="sm"
                  label="Author full name"
                  label-for="input-sm1"
                >
                  <b-form-input
                    v-model="documentInfo.name"
                    id="input-sm1"
                    size="sm"
                    @blur="this.handleInputBlur"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  label-cols="6"
                  label-cols-lg="4"
                  label-size="sm"
                  label="Author e-mail"
                  label-for="input-sm2"
                >
                  <b-form-input
                    v-model="documentInfo.email"
                    id="input-sm2"
                    size="sm"
                    @blur="this.handleInputBlur"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  label-cols="6"
                  label-cols-lg="4"
                  label-size="sm"
                  label="Document name"
                  label-for="input-sm3"
                >
                  <b-form-input
                    v-model="documentInfo.fileName"
                    id="input-sm3"
                    size="sm"
                    @blur="this.handleInputBlur"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  label-cols="6"
                  label-cols-lg="4"
                  label-size="sm"
                  label="Document file format"
                  label-for="input-sm4"
                >
                  <b-form-input
                    v-model="documentInfo.fileFormat"
                    id="input-sm4"
                    size="sm"
                    @blur="this.handleInputBlur"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  label-cols="6"
                  label-cols-lg="4"
                  label-size="sm"
                  label="Language"
                  label-for="input-sm5"
                >
                  <b-form-input
                    v-model="documentInfo.language"
                    id="input-sm5"
                    size="sm"
                    @blur="this.handleInputBlur"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  label-cols="6"
                  label-cols-lg="4"
                  label-size="sm"
                  label="Keywords"
                  label-for="input-sm6"
                >
                  <b-form-input
                    v-model="documentInfo.keyword"
                    id="input-sm6"
                    size="sm"
                    @blur="this.handleInputBlur"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  label-cols="6"
                  label-cols-lg="4"
                  label-size="sm"
                  label="Description"
                  label-for="input-sm7"
                >
                  <b-form-input
                    v-model="documentInfo.description"
                    id="input-sm7"
                    size="sm"
                    @blur="this.handleInputBlur"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  label-cols="6"
                  label-cols-lg="4"
                  label-size="sm"
                  label="Year"
                  label-for="input-sm8"
                >
                  <b-form-input
                    v-model="documentInfo.year"
                    id="input-sm8"
                    size="sm"
                    @blur="this.handleInputBlur"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  label-cols="6"
                  label-cols-lg="4"
                  label-size="sm"
                  label="Area"
                  label-for="input-sm9"
                >
                  <b-form-input
                    v-model="documentInfo.area"
                    id="input-sm9"
                    size="sm"
                    @blur="this.handleInputBlur"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  label-cols="6"
                  label-cols-lg="4"
                  label-size="sm"
                  label="Url"
                  label-for="input-sm10"
                >
                  <b-form-input
                    v-model="documentInfo.url"
                    id="input-sm10"
                    size="sm"
                    @blur="this.handleInputBlur"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  label-cols="6"
                  label-cols-lg="4"
                  label-size="sm"
                  label="Internal identification"
                  label-for="input-sm11"
                >
                  <b-form-input
                    v-model="documentInfo.iid"
                    id="input-sm11"
                    size="sm"
                    @blur="this.handleInputBlur"
                  ></b-form-input>
                </b-form-group>
              </b-card>
            </b-container>

            <SuspisousModalTable :file="this.file"> </SuspisousModalTable>
          </b-col>

          <b-col cols="8">
            <b-row>
              <b-col>
                <h4>Original document</h4>
                <b-form-textarea
                  v-if="this.textStatus"
                  class="overflowY fullHeight"
                  v-model="this.text"
                ></b-form-textarea>
                <b-spinner v-else label="Loading..."></b-spinner>
              </b-col>
              <b-col v-if="this.fileToCompare">
                <h4>
                  Similar document<span
                    @click="this.openOriginalFileToCompare"
                    v-if="this.fileToCompare"
                    class="subTitle fileLink"
                    >{{
                      this.fileToCompare.info.fileName +
                        "." +
                        this.fileToCompare.info.fileFormat
                    }}</span
                  >
                </h4>
                <b-form-textarea
                  v-if="this.textToCompareStatus"
                  class="overflowY fullHeight"
                  v-model="this.textToCompare"
                ></b-form-textarea>
                <b-spinner v-else label="Loading..."></b-spinner>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-container>
    </b-modal>
  </div>
</template>
<script>
import Store from "../../../store";
import * as Helper from "../../../helpers/MainHelper";
import SuspisousModalTable from "./SuspisiousModal/SuspisiousModalTable";
import store from "../../../store";

export default {
  components: {
    SuspisousModalTable: SuspisousModalTable
  },
  props: {
    row: Object,
    fileFromCompareModal: Object
  },
  data() {
    return {
      rowData: {},
      file: null,
      fileToCompare: null,
      text: "",
      textToCompare: "",
      textStatus: false,
      textToCompareStatus: false,
      documentInfo: {
        name: "",
        email: "",
        fileName: "",
        fileFormat: "",
        language: "",
        keyword: "",
        description: "",
        year: "",
        area: "",
        url: "",
        iid: "",
        uuid: ""
      }
    };
  },
  name: "SuspisiousCompareModal",
  methods: {
    openOriginalFileToCompare() {
      this.file = this.fileToCompare;
      Store.dispatch("selectCompareFile", this.file);
      this.getTextFromDocument();
      this.getDocumentInfo();
      this.textToCompare = "";
      this.fileToCompare = null;
    },
    getFileToCompare(uuid) {
      for (let i of Store.state.finishedFiles) {
        if (i.upload.uuid === uuid) {
          this.fileToCompare = i;
        }
      }
      this.getTextToCompare();
    },
    getTextToCompare() {
      this.textToCompare = Helper.getDecodedData(this.fileToCompare.data);
      this.getTextToCompareStatus();
    },
    getTextStatus() {
      if (this.text === undefined || this.text === null || this.text === "") {
        this.textStatus = false;
      } else {
        this.textStatus = true;
      }
    },
    getTextToCompareStatus() {
      if (
        this.textToCompare === undefined ||
        this.textToCompare === null ||
        this.textToCompare === ""
      ) {
        this.textToCompareStatus = false;
      } else {
        this.textToCompareStatus = true;
      }
    },
    getRowData() {
      if (this.row) {
        this.rowData = this.row;
        for (let i of Store.state.finishedFiles) {
          if (i.upload.uuid === this.rowData.data.uuid) {
            this.file = i;
            Store.dispatch("selectCompareFile", i);
          }
        }
        this.getTextFromDocument();
        this.getDocumentInfo();
      }
    },
    getTextFromDocument() {
      this.text = Helper.getDecodedData(this.file.data);
      this.getTextStatus();
    },
    getDocumentInfo() {
      let documentInfo = {
        name: this.file.info.name,
        email: this.file.info.email,
        fileName: this.file.info.fileName,
        fileFormat: this.file.info.fileFormat,
        language: this.file.info.language,
        keyword: this.file.info.keyword,
        description: this.file.info.description,
        year: this.file.info.year,
        area: this.file.info.area,
        url: this.file.info.url,
        iid: this.file.info.iid,
        uuid: this.file.upload.uuid
      };
      this.documentInfo = documentInfo;
    },

    handleInputBlur() {
      let info = {
        name: this.documentInfo.name,
        email: this.documentInfo.email,
        fileName: this.documentInfo.fileName,
        fileFormat: this.documentInfo.fileFormat,
        language: this.documentInfo.language,
        keyword: this.documentInfo.keyword,
        description: this.documentInfo.description,
        year: this.documentInfo.year,
        area: this.documentInfo.area,
        url: this.documentInfo.url,
        iid: this.documentInfo.iid,
        uuid: this.file.upload.uuid
      };
      Store.dispatch("updateSavedFile", {
        uuid: this.rowData.data.uuid,
        info: info
      });
    },
    resetFiletoCompare() {
      this.fileToCompare = null;
      this.textToCompare = "";
      this.textToCompareStatus = false;
    }
  },
  beforeUpdate() {
    store.subscribe((mutation, state) => {
      if (mutation.type === "selectFileToCompare") {
        if (mutation.payload === null) {
          this.resetFiletoCompare();
        } else {
          this.getFileToCompare(mutation.payload.uuid);
        }
      }
    });
  },
  beforeDestroy() {},
  beforeMount() {},
  watch: {
    row(value) {
      this.getRowData();
    }
  }
};
</script>
<style scoped>
.modal-xl {
  width: 98vw;
  max-width: inherit;
}
.fullHeight {
  height: 60vh !important;
  font-size: 0.8rem;
}
pre {
  min-height: 150px;
}
.subTitle {
  font-size: 1.5vh;
  margin-left: 5px;
}
.scrollAble {
  max-height: 35vh;
  overflow-y: scroll;
}
.fileLink {
  text-decoration: underline darkorange;
  color: darkorange;
}
.fileLink:hover {
  text-decoration: underline darkgray;
  color: darkgray;
  cursor: pointer;
}
</style>
