<template>
  <div class="pb-1">
    <b-container fluid>
      <b-row>

        <b-col v-if="canSelect">
          <h2>File info: {{this.getFileName}}</h2>
          <b-row>
            <addNewDocumentInfoForm
              v-bind:selected="selected"
              v-bind:predefined="this.getPredefined()"
            ></addNewDocumentInfoForm>
          </b-row>
        </b-col>


        <b-col v-else>
          <h2>Upload files</h2>
          <b-row>
            <vue-drop-zone></vue-drop-zone>
          </b-row>
        </b-col>
        <b-col>
    <b-tooltip
      target="selectableTable"
      triggers="hover"
      v-if="this.helpTooltips"
      placement="right"
      boundary="selectableTable"
    >
      <p><b>Scrolldown</b> for more</p>
      <p><b>Select</b> for edit</p>
    </b-tooltip>
          <h2>Table of files</h2>
          <b-table
            ref="selectableTable"
            id="selectableTable"
            select-mode="single"
            striped
            responsive
            selectable
            sticky-header="45vh"
            hover
            :items="items"
            @row-selected="onRowSelected"
            @row-clicked="onRowClicked"
            :fields="fields"
            :no-border-collapse="true"
          >
          </b-table>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="4">
          <b-collapse id="collapse-2" v-bind:visible="canSelect">
            <b-button
              size="sm"
              variant="danger"
              v-on:click="clearSelected()"
              ><font-awesome-icon icon="times" /> Delete file</b-button
            >
          </b-collapse>
        </b-col>
        <b-col cols="4"> </b-col>
        <b-col cols="2">
          <b-collapse id="collapse-1" v-bind:visible="this.getClearButton">
            <ClearButton :action="this.clearAllFiles"></ClearButton>
          </b-collapse>
        </b-col>
        <b-col cols="2">
          <b-collapse id="collapse-1" v-bind:visible="uploaded">
            <SaveButton
              v-bind:action="this.saveAction"
              v-bind:whatToSave="this.title"
              v-bind:displayOkScene="this.okScene"
            ></SaveButton>
          </b-collapse>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Store from "../../store";
import VueDropZoneVue from "../global/VueDropZone.vue";
import * as Helper from "../../helpers/MainHelper";
import * as Constants from "../../constants";
import SaveButton from "../global/buttons/SaveButton";
import ClearButton from "../global/buttons/ClearButton";
import AddNewDocumentInfoForm from "./AddNewDocumentInfo/AddNewDocumentInfoForm.vue";

export default {
  components: {
    addNewDocumentInfoForm: AddNewDocumentInfoForm,
    vueDropZone: VueDropZoneVue,
    SaveButton: SaveButton,
    ClearButton: ClearButton
  },
  name: "AddNewDocument",
  data() {
    return {
      helpTooltips: Store.state.options.helpTooltips,
      title: "files",
      items: [],
      selectedIndex: -1,
      nextMessage: "Rejected files will be deleted",
      okScene: Constants.VIEW_HOME,
      uploaded: false,
      selected: [],
      isSelected: false,
      fields: [
        {
          key: "name",
          label: "Name"
        },
        {
          key: "format",
          label: "Format"
        },
        {
          key: "size",
          label: "Size"
        },
        {
          key: "state",
          label: "State"
        }
      ]
    };
  },
  computed: {
    shouldShowWarningModal() {
      return Store.state.stagedFiles.rejected.length > 0;
    },
    getClearButton() {
      return (
        Store.state.stagedFiles.rejected.length > 0 ||
        Store.state.stagedFiles.accepted.length > 0
      );
    },
    getFileName() {
      return this.selected[0].name
    },
    canSelect() {
      return this.uploaded && this.isSelected
    }
  },
  methods: {
    saveAction() {
      /*  Prochází pole accepted filů,
            asynchronně čte soubor a vytvoří z něj base64 string
            jakmile se čtení dokončí vrátí string
            zjistí jestli file má info
            pokud ne přiřadí mu defaultní info
            přiřadí k souboru data v podobě base64 stringu
            nastrká se do nového pole
            toto pole se pote ukládá do localStorage a načítá se
            do finishedFiles (pole nahraných souborů, které jsou kompletní)
            vymaže se dočasné nahrávací pole "filles.accepted"
        */
      for (let p of Store.state.stagedFiles.accepted) {
        Helper.fileToBase64(p).then(base64Code => {
          let encodedBase64 = Helper.b64EncodeUnicode(base64Code);
          p.data = encodedBase64;
          if (p.info) {
            p.info.lastModified = p.lastModifiedDate;
            p.info.uploaded = new Date();
            p.info.list = Helper.getFileList();
          }
          if (!p.info) {
            let info = {
              name: Store.state.predefined.name,
              email: Store.state.predefined.email,
              fileName: Helper.getFileName(p.name),
              fileFormat: Helper.getFileFormat(p.name),
              language: Store.state.predefined.language,
              keyword: Store.state.predefined.keyword,
              description: Store.state.predefined.description,
              year: Store.state.predefined.year,
              area: Store.state.predefined.area,
              url: Store.state.predefined.url,
              iid: Store.state.predefined.iid,
              lastModified: p.lastModifiedDate,
              uploaded: new Date(),
              list: Helper.getFileList()
            };
            p.info = info;
          }
          Store.dispatch("saveFile", p);
          Store.dispatch("clearFiles");
          Store.dispatch("alertBox", "Files was succesfully saved.");
        });
      }
    },
    getPredefined() {
      return Store.state.predefined;
    },
    onRowClicked(item, index, event){
      if (index === this.selectedIndex){
        this.selectedIndex = -1
      } else {
        this.selectedIndex = index
      }
    },
    onRowSelected(items) {
      if (items.length !== 0) {
        this.isSelected = true;
      }
      if (items.length === 0) {
        this.isSelected = false;
      }
      this.selected = items;
    },
    getNext() {
      Store.dispatch("changeView", this.displayOkScene);
    },
    clearSelected() {
      this.selected = []
      this.selectedIndex = -1
      this.removeFile(this.selected[0].uuid, this.selected[0].state);
      this.getDataItems();
    },
    removeFile(uuid, fileState) {
      Store.dispatch("removeFile", { uuid: uuid, fileState: fileState });
    },
    clearRejectedFileStore() {
      Store.dispatch("clearRejected");
    },
    clearAllFiles() {
      Store.dispatch("clearFiles");
    },
    getDataItems() {
      let items = [];
      for (let f of Store.state.stagedFiles.accepted){
        items.push({
          name: Helper.getFileName(f.name),
          format: Helper.getFileFormat(f.name),
          size: Helper.getKiloBites(f.size) + " KB",
          state: "Staged-Accepted",
          _rowVariant: "success",
          uuid: f.upload.uuid,
          info: f.info ? f.info : null
        });
      }
      for (let f of Store.state.stagedFiles.rejected) {
        items.push({
          name: Helper.getFileName(f.name),
          format: Helper.getFileFormat(f.name),
          size: Helper.getKiloBites(f.size) + " KB",
          state: "Staged-Rejected",
          _rowVariant: "danger",
          uuid: f.upload.uuid,
          info: f.info ? f.info : null
        });
      }
      for (let f of Store.state.files.accepted) {
        items.push({
          name: Helper.getFileName(f.name),
          format: Helper.getFileFormat(f.name),
          size: Helper.getKiloBites(f.size) + " KB",
          state: "Accepted",
          _rowVariant: "warning",
          uuid: f.upload.uuid,
          info: f.info ? f.info : null
        });
      }
      for (let f of Store.state.files.queued) {
        items.push({
          name: Helper.getFileName(f.name),
          format: Helper.getFileFormat(f.name),
          size: Helper.getKiloBites(f.size) + " KB",
          state: "Qeued",
          _rowVariant: "warning",
          uuid: f.upload.uuid,
          info: f.info ? f.info : null
        });
      }
      for (let f of Store.state.files.uploading) {
        items.push({
          name: Helper.getFileName(f.name),
          format: Helper.getFileFormat(f.name),
          size: Helper.getKiloBites(f.size) + " KB",
          state: "Uploading",
          _rowVariant: "warning",
          uuid: f.upload.uuid,
          info: f.info ? f.info : null
        });
      }
      for (let f of Store.state.files.rejected) {
        items.push({
          name: Helper.getFileName(f.name),
          format: Helper.getFileFormat(f.name),
          size: Helper.getKiloBites(f.size) + " KB",
          state: "Rejected",
          _rowVariant: "danger",
          uuid: f.upload.uuid,
          info: f.info ? f.info : null
        });
      }
      this.items = items;
      if (
        Store.state.files.uploading.length === 0 &&
        Store.state.files.queued.length === 0 &&
        Store.state.stagedFiles.accepted.length !== 0
      ) {
        this.uploaded = true;
      } else {
        this.uploaded = false;
      }
    }
  },
  mounted() {
    this.getDataItems();
    Store.subscribe((mutation, state) => {
      if (mutation.type === "clearFiles" || mutation.type === "stageUploadedFile" || mutation.type === "updateFile") {
        this.getDataItems();
      }
    });
  },
  updated(){
      if (!this.uploaded){
        this.selectedIndex = -1
      }
      if(this.selectedIndex > -1 && this.uploaded){
        this.$refs.selectableTable.selectRow(this.selectedIndex)
      }
  }
};
</script>

<style scoped>
p,
h2 {
  text-align: left;
}
.pull-left {
  text-align: left;
}
</style>
