<template>
  <div class="pb-1">
    <b-container fluid>
      <b-row>
        <b-col>
          <h2>File info</h2>
          <b-row>
            <addNewDocumentInfoForm
              v-bind:selected="selected"
              v-bind:predefined="this.getPredefined()"
            ></addNewDocumentInfoForm>
          </b-row>
        </b-col>
        <b-col>
          <h2>Table of files</h2>
          <b-tooltip
            target="selectableTable"
            triggers="hover"
            v-if="this.helpTooltips"
            placement="right"
            boundary="selectableTable"
          >
            <p>You can select files and <b>modify</b> metadata about them.</p>
          </b-tooltip>
          <b-table
            id="selectableTable"
            select-mode="single"
            striped
            responsive
            selectable
            sticky-header="45vh"
            hover
            :items="items"
            @row-selected="onRowSelected"
            :fields="fields"
            :no-border-collapse="true"
          >
          </b-table>
          <b-row>
            <b-col cols="4">
              <b-collapse id="collapse-2" v-bind:visible="isSelected">
                <b-button
                  size="sm"
                  variant="danger"
                  v-on:click="clearSelected()"
                  ><font-awesome-icon icon="times" /> Delete file</b-button
                >
              </b-collapse>
            </b-col>
            <b-col cols="8"> </b-col>
          </b-row>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="10"> </b-col>
        <b-col cols="2">
          <b-collapse id="collapse-1" v-bind:visible="uploaded">
            <SaveButton
              v-bind:action="this.saveAction"
              v-bind:whatToSave="this.title"
              v-bind:displayOkScene="this.okScene"
            ></SaveButton>
          </b-collapse>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Store from "../../store";
import * as Helper from "../../helpers/MainHelper";
import * as Constants from "../../constants";

import AddNewDocumentInfoForm from "./AddNewDocumentInfo/AddNewDocumentInfoForm.vue";
import SaveButton from "../global/buttons/SaveButton";

export default {
  name: "AddNewDocument",
  components: {
    addNewDocumentInfoForm: AddNewDocumentInfoForm,
    SaveButton: SaveButton
  },
  data() {
    return {
      helpTooltips: Store.state.options.helpTooltips,
      title: "files",
      okScene: Constants.VIEW_HOME,
      items: [],
      uploaded: false,
      selected: [],
      isSelected: false,
      fields: [
        {
          key: "name",
          label: "Name"
        },
        {
          key: "format",
          label: "Format"
        },
        {
          key: "size",
          label: "Size"
        },
        {
          key: "state",
          label: "State"
        }
      ]
    };
  },
  methods: {
    saveAction() {
      /*  Prochází pole accepted filů,
            asynchronně čte soubor a vytvoří z něj base64 string
            jakmile se čtení dokončí vrátí string
            zjistí jestli file má info
            pokud ne přiřadí mu defaultní info
            přiřadí k souboru data v podobě base64 stringu
            nastrká se do nového pole
            toto pole se pote ukládá do localStorage a načítá se
            do finishedFiles (pole nahraných souborů, které jsou kompletní)
            vymaže se dočasné nahrávací pole "filles.accepted"
        */
      for (let p of Store.state.files.accepted) {
        Helper.fileToBase64(p).then(base64Code => {
          let encodedBase64 = Helper.b64EncodeUnicode(base64Code);
          p.data = encodedBase64;
          if (p.info) {
            p.info.lastModified = p.lastModifiedDate;
            p.info.uploaded = new Date();
            p.info.list = Helper.getFileList();
          }
          if (!p.info) {
            let info = {
              name: Store.state.predefined.name,
              email: Store.state.predefined.email,
              fileName: Helper.getFileName(p.name),
              fileFormat: Helper.getFileFormat(p.name),
              language: Store.state.predefined.language,
              keyword: Store.state.predefined.keyword,
              description: Store.state.predefined.description,
              year: Store.state.predefined.year,
              area: Store.state.predefined.area,
              url: Store.state.predefined.url,
              iid: Store.state.predefined.iid,
              lastModified: p.lastModifiedDate,
              uploaded: new Date(),
              list: Helper.getFileList()
            };
            p.info = info;
          }
          Store.dispatch("saveFile", p);
          Store.dispatch("clearFiles");
          Store.dispatch("alertBox", "Files was succesfully saved.");
        });
      }
    },
    getPredefined() {
      return Store.state.predefined;
    },
    onRowSelected(items) {
      this.isSelected = items.length !== 0;
      this.selected = items;
    },
    clearSelected() {
      this.removeFile(this.selected[0].uuid, this.selected[0].state);
      this.getDataItems();
    },
    removeFile(uuid, fileState) {
      Store.dispatch("removeFile", { uuid: uuid, fileState: fileState });
    },
    getDataItems() {
      let items = [];
      for (let f of Store.state.files.accepted) {
        items.push({
          name: Helper.getFileName(f.name),
          format: Helper.getFileFormat(f.name),
          size: Helper.getKiloBites(f.size) + " KB",
          state: "Accepted",
          uuid: f.upload.uuid,
          info: f.info ? f.info : null
        });
      }
      this.items = items;
      if (
        Store.state.files.uploading.length === 0 &&
        Store.state.files.queued.length === 0 &&
        Store.state.files.accepted.length !== 0
      ) {
        this.uploaded = true;
      } else {
        this.uploaded = false;
      }
    }
  },
  beforeUpdate() {
    this.getDataItems();
  },
  mounted() {
    this.getDataItems();
  }
};
</script>

<style scoped>
p,
h2 {
  text-align: left;
}
.pull-left {
  text-align: left;
}
</style>
