<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col cols="4" v-if="this.detailsVisible">
          <b-tooltip
            target="detailFrom"
            triggers="hover"
            v-if="this.helpTooltips"
            placement="right"
            boundary="selectableTable"
          >
            <p>There is no confirmation button</p>
            <p>Changes are <b>saved automatically</b></p>
          </b-tooltip>
          <b-card
            id="detailFrom"
            border-variant="dark"
            align="left"
            title="Detail"
            class="scrollAble"
          >
            <b-form-group
              label-cols="6"
              label-cols-lg="4"
              label-size="sm"
              label="Author full name"
              label-for="input-sm1"
            >
              <b-form-input
                v-model="documentInfo.name"
                id="input-sm1"
                size="sm"
                @blur="this.handleInputBlur"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label-cols="6"
              label-cols-lg="4"
              label-size="sm"
              label="Author e-mail"
              label-for="input-sm2"
            >
              <b-form-input
                v-model="documentInfo.email"
                id="input-sm2"
                size="sm"
                @blur="this.handleInputBlur"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label-cols="6"
              label-cols-lg="4"
              label-size="sm"
              label="Document name"
              label-for="input-sm3"
            >
              <b-form-input
                v-model="documentInfo.fileName"
                id="input-sm3"
                size="sm"
                @blur="this.handleInputBlur"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label-cols="6"
              label-cols-lg="4"
              label-size="sm"
              label="Document file format"
              label-for="input-sm4"
            >
              <b-form-input
                v-model="documentInfo.fileFormat"
                id="input-sm4"
                size="sm"
                @blur="this.handleInputBlur"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label-cols="6"
              label-cols-lg="4"
              label-size="sm"
              label="Language"
              label-for="input-sm5"
            >
              <b-form-input
                v-model="documentInfo.language"
                id="input-sm5"
                size="sm"
                @blur="this.handleInputBlur"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label-cols="6"
              label-cols-lg="4"
              label-size="sm"
              label="Keywords"
              label-for="input-sm6"
            >
              <b-form-input
                v-model="documentInfo.keyword"
                id="input-sm6"
                size="sm"
                @blur="this.handleInputBlur"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label-cols="6"
              label-cols-lg="4"
              label-size="sm"
              label="Description"
              label-for="input-sm7"
            >
              <b-form-input
                v-model="documentInfo.description"
                id="input-sm7"
                size="sm"
                @blur="this.handleInputBlur"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label-cols="6"
              label-cols-lg="4"
              label-size="sm"
              label="Year"
              label-for="input-sm8"
            >
              <b-form-input
                v-model="documentInfo.year"
                id="input-sm8"
                size="sm"
                @blur="this.handleInputBlur"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label-cols="6"
              label-cols-lg="4"
              label-size="sm"
              label="Area"
              label-for="input-sm9"
            >
              <b-form-input
                v-model="documentInfo.area"
                id="input-sm9"
                size="sm"
                @blur="this.handleInputBlur"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label-cols="6"
              label-cols-lg="4"
              label-size="sm"
              label="Url"
              label-for="input-sm10"
            >
              <b-form-input
                v-model="documentInfo.url"
                id="input-sm10"
                size="sm"
                @blur="this.handleInputBlur"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              label-cols="6"
              label-cols-lg="4"
              label-size="sm"
              label="Internal identification"
              label-for="input-sm11"
            >
              <b-form-input
                v-model="documentInfo.iid"
                id="input-sm11"
                size="sm"
                @blur="this.handleInputBlur"
              ></b-form-input>
            </b-form-group>
          </b-card>

          <SuspisousModalTable :file="this.file"> </SuspisousModalTable>
        </b-col>

        <b-col cols="8" v-if="this.detailsVisible">
          <b-row v-if="this.fileToCompare">
            <b-col cols="6">
              <h4 class="titleOriginal">Original document</h4>
              <div class="overflowY fullHeight" v-if="this.textStatus">
                <Highlighter
                  highlightClassName="highlight"
                  unhighlightClassName="unhighlight"
                  :searchWords="this.querry"
                  :autoEscape="true"
                  :textToHighlight="text"
                />
              </div>
              <b-spinner v-else label="Loading..."></b-spinner>
            </b-col>
            <b-col cols="6" v-if="this.fileToCompare">
              <h4 class="mt-3">Similar document</h4>
              <h6
                @click="this.openOriginalFileToCompare"
                v-if="this.fileToCompare"
                class="subTitle fileLink"
              >
                {{
                  this.fileToCompare.info.fileName +
                    "." +
                    this.fileToCompare.info.fileFormat
                }}
              </h6>
              <div class="overflowY fullHeight" v-if="this.textToCompareStatus">
                <Highlighter
                  highlightClassName="highlight"
                  unhighlightClassName="unhighlight"
                  :searchWords="this.querry"
                  :autoEscape="true"
                  :textToHighlight="textToCompare"
                />
              </div>
              <b-spinner v-else label="Loading..."></b-spinner>
            </b-col>
          </b-row>
          <b-row v-else>
            <b-col>
              <h4 class="titleOriginal">Original document</h4>
              <div class="overflowY fullHeight" v-if="this.textStatus">
                <Highlighter
                  highlightClassName="highlight"
                  unhighlightClassName="unhighlight"
                  :searchWords="this.querry"
                  :autoEscape="true"
                  :textToHighlight="text"
                />
              </div>
              <b-spinner v-else label="Loading..."></b-spinner>
            </b-col>
          </b-row>
        </b-col>

        <b-col v-else>
          <b-row v-if="this.fileToCompare">
            <b-col cols="6">
              <h4 class="titleOriginal">Original document</h4>
              <div class="overflowY fullHeight" v-if="this.textStatus">
                <Highlighter
                  highlightClassName="highlight"
                  unhighlightClassName="unhighlight"
                  :searchWords="this.querry"
                  :autoEscape="true"
                  :textToHighlight="text"
                />
              </div>
              <b-spinner v-else label="Loading..."></b-spinner>
            </b-col>
            <b-col cols="6" v-if="this.fileToCompare">
              <h4 class="mt-3">Similar document</h4>
              <h6
                @click="this.openOriginalFileToCompare"
                v-if="this.fileToCompare"
                class="subTitle fileLink"
              >
                {{
                  this.fileToCompare.info.fileName +
                    "." +
                    this.fileToCompare.info.fileFormat
                }}
              </h6>
              <div class="overflowY fullHeight" v-if="this.textToCompareStatus">
                <Highlighter
                  highlightClassName="highlight"
                  unhighlightClassName="unhighlight"
                  :searchWords="this.querry"
                  :autoEscape="true"
                  :textToHighlight="textToCompare"
                />
              </div>
              <b-spinner v-else label="Loading..."></b-spinner>
            </b-col>
          </b-row>
          <b-row v-else>
            <b-col>
              <h4 class="titleOriginal">Original document</h4>
              <div class="overflowY fullHeight" v-if="this.textStatus">
                <Highlighter
                  highlightClassName="highlight"
                  unhighlightClassName="unhighlight"
                  :searchWords="this.querry"
                  :autoEscape="true"
                  :textToHighlight="text"
                />
              </div>
              <b-spinner v-else label="Loading..."></b-spinner>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <div class="buttonRow">
        <div v-if="this.detailsVisible">
          <b-button id="showHideButton" @click="this.changeDetailsVisibility">
            <font-awesome-icon icon="eye-slash" />
            Hide details
          </b-button>
        </div>
        <div v-else>
          <b-button id="showHideButton" @click="this.changeDetailsVisibility">
            <font-awesome-icon icon="eye" />
            Show details
          </b-button>
        </div>
      </div>
      <b-tooltip
        target="showHideButton"
        triggers="hover"
        v-if="this.helpTooltips"
      >
        Show/Hide details and table with similar files.
      </b-tooltip>
    </b-container>
  </div>
</template>
<script>
import Store from "../../store";
import * as Helper from "../../helpers/MainHelper";
import SuspisousModalTable from "./Modals/SuspisiousModal/SuspisiousModalTable";

export default {
  components: {
    SuspisousModalTable: SuspisousModalTable
  },
  data() {
    return {
      rowData: {},
      file: null,
      fileToCompare: null,
      text: "",
      textToCompare: "",
      textStatus: false,
      textToCompareStatus: false,
      documentInfo: {
        name: "",
        email: "",
        fileName: "",
        fileFormat: "",
        language: "",
        keyword: "",
        description: "",
        year: "",
        area: "",
        url: "",
        iid: "",
        uuid: "",
        lastModified: "",
        uploaded: ""
      },
      querry: ["e", "a"],
      detailsVisible: true,
      helpTooltips: Store.state.options.helpTooltips
    };
  },
  name: "ManageFilesDetail",
  methods: {
    changeDetailsVisibility() {
      this.detailsVisible = !this.detailsVisible;
    },
    /*highlightText() {
            let reggie,found
            return this.text.replace.()
            /*for (let i of this.querry){
                reggie = new RegExp(i+"(?!(\s|\S)*?<\/span>)|"+i+"\n", "ig");
                found = this.text.search(reggie) !== -1;
                this.text = !found ? this.text : this.text.replace(reggie, '<span class="highlighted">' + i + '</span>');
            }
        },
        highlightTextToCompare() {
            let reggie,found
            for (let i of this.querry){
                reggie = new RegExp(i+"(?!(\s|\S)*?<\/span>)|"+i+"\n", "ig");
                found = this.textToCompare.search(reggie) !== -1;
                this.textToCompare = !found ? this.textToCompare : this.textToCompare.replace(reggie, '<span class="highlighted">' + i + '</span>');
            }
        },*/
    openOriginalFileToCompare() {
      this.file = this.fileToCompare;
      Store.dispatch("selectCompareFile", this.file);
      this.getTextFromDocument();
      this.getDocumentInfo();
      this.textToCompare = "";
      this.fileToCompare = null;
    },
    getFileToCompare(uuid) {
      for (let i of Store.state.finishedFiles) {
        if (i.upload.uuid === uuid) {
          this.fileToCompare = i;
        }
      }
      this.getTextToCompare();
    },
    getTextToCompare() {
      this.textToCompare = Helper.getDecodedData(this.fileToCompare.data);
      //this.highlightTextToCompare()
      this.getTextToCompareStatus();
    },
    getTextStatus() {
      if (this.text === undefined || this.text === null || this.text === "") {
        this.textStatus = false;
      } else {
        this.textStatus = true;
      }
    },
    getTextToCompareStatus() {
      if (
        this.textToCompare === undefined ||
        this.textToCompare === null ||
        this.textToCompare === ""
      ) {
        this.textToCompareStatus = false;
      } else {
        this.textToCompareStatus = true;
      }
    },
    getRowData() {
      console.log(this.rowData)
      for (let i of Store.state.finishedFiles) {
        if (i.upload.uuid === this.rowData.data.uuid) {
          this.file = i;
          Store.dispatch("selectCompareFile", i);
        }
      }
      this.getTextFromDocument();
      this.getDocumentInfo();
    },
    getTextFromDocument() {
      this.text = Helper.getDecodedData(this.file.data);
      // this.highlightText()
      this.getTextStatus();
    },
    getDocumentInfo() {
      let documentInfo = {
        name: this.file.info.name,
        email: this.file.info.email,
        fileName: this.file.info.fileName,
        fileFormat: this.file.info.fileFormat,
        language: this.file.info.language,
        keyword: this.file.info.keyword,
        description: this.file.info.description,
        year: this.file.info.year,
        area: this.file.info.area,
        url: this.file.info.url,
        iid: this.file.info.iid,
        uuid: this.file.info.uuid,
        lastModified: this.file.info.lastModified,
        uploaded: this.file.info.uploaded
      };
      this.documentInfo = documentInfo;
    },

    handleInputBlur() {
      let info = {
        name: this.documentInfo.name,
        email: this.documentInfo.email,
        fileName: this.documentInfo.fileName,
        fileFormat: this.documentInfo.fileFormat,
        language: this.documentInfo.language,
        keyword: this.documentInfo.keyword,
        description: this.documentInfo.description,
        year: this.documentInfo.year,
        area: this.documentInfo.area,
        url: this.documentInfo.url,
        iid: this.documentInfo.iid,
        uuid: this.file.info.uuid,
        lastModified: this.file.info.lastModified,
        uploaded: this.file.info.uploaded,
        list: this.file.info.list
      };

      Store.dispatch("updateSavedFile", {
        uuid: this.rowData.data.uuid,
        info: info
      });
      Store.dispatch("alertBox", "Files info was succesfully changed.");
    },
    resetFiletoCompare() {
      this.fileToCompare = null;
      this.textToCompare = "";
      this.textToCompareStatus = false;
    }
  },
  beforeMount() {
    this.rowData = Store.state.activeRowData;
    this.getRowData();
    Store.subscribe((mutation, state) => {
      if (mutation.type === "selectFileToCompare") {
        if (mutation.payload === null) {
          this.resetFiletoCompare();
        } else {
          this.getFileToCompare(mutation.payload.uuid);
        }
      }
    });
  }
};
</script>
<style>
.fullHeight {
  height: 60vh !important;
  font-size: 0.8rem;
}
.subTitle {
  font-size: 1.5vh;
  margin-left: 5px;
}
.scrollAble {
  max-height: 35vh;
  overflow-y: scroll;
}
.fileLink {
  text-decoration: underline darkorange;
  color: darkorange;
}
.fileLink:hover {
  text-decoration: underline darkgray;
  color: darkgray;
  cursor: pointer;
}
h4,
h6 {
  text-align: left;
}
.titleOriginal {
  margin-bottom: 32px;
}
.highlight {
  background-color: darkorange;
  word-wrap: break-word;
  white-space: normal;
}
.unhighlight {
  display: inline;
  word-wrap: break-word;
  white-space: normal;
}
.buttonRow {
  text-align: left;
  margin-top: 10px;
}
</style>
