<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col>
          <h2>Manage files: {{ text }}</h2>
          <FileTable> </FileTable>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Store from "../../store";
import FileTable from "./ManageFiles/FileTable";
import * as Constants from "../../constants";

export default {
  components: {
    FileTable: FileTable
  },
  name: "ManageFiles",
  data() {
    return {
      text: ""
    };
  },
  methods: {
    getText() {
      const fileListId = Store.state.selectedDocumentList;
      if (fileListId === Constants.DOCUMENT_LIST_CURRENT_USER) {
        this.text = "Current user documents";
      } else if (fileListId === Constants.DOCUMENT_LIST_ERROR) {
        this.text = "Error documents";
      } else if (fileListId === Constants.DOCUMENT_LIST_SUSPISIOUS) {
        this.text = "Suspicious documents";
      } else if (fileListId === Constants.DOCUMENT_LIST_SOURCE_CODE) {
        this.text = "Source code documents";
      } else {
        this.text = "";
      }
    }
  },
  beforeMount() {
    this.getText();
    Store.subscribe((mutation, state) => {
      if (mutation.type === "selectDocumentList") {
        this.getText();
      }
    });
  }
};
</script>

<style scoped>
p,
h2 {
  text-align: left;
}
.pull-left {
  text-align: left;
}
</style>
