<template>
  <div class="pb-1 overflowY">
    <b-container fluid>
      <b-row>
        <b-col cols="6">
          <b-card
            class="mb-1"
            title="Predefined values"
            sub-title="Predefined form values for add new file section."
          >
            <SettingPreffilButton></SettingPreffilButton>
          </b-card>
        </b-col>
        <b-col cols="6">
          <b-card
            class="mb-1"
            title="Sorting settings"
            sub-title="Sorting setting for File management section."
          >
            <SettingsSortingButton></SettingsSortingButton>
          </b-card>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-card class="mb-1" title="Options" sub-title="Application options">
            <SettingOptionsButton></SettingOptionsButton>
          </b-card>
        </b-col>
        <b-col> </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Store from "../../store";
import * as Helper from "../../helpers/MainHelper";
import * as Constants from "../../constants";
import SettingsPreffilButton from "../../components/global/buttons/SettingsPrefillButton";
import SettingsSortingButton from "../../components/global/buttons/SettingsSortingButton";
import SettingOptionsButton from "../../components/global/buttons/SettingOptionsButton";

export default {
  components: {
    SettingPreffilButton: SettingsPreffilButton,
    SettingsSortingButton: SettingsSortingButton,
    SettingOptionsButton: SettingOptionsButton
  },
  name: "Settings",
  data() {
    return {};
  },
  methods: {},
  mounted() {}
};
</script>

<style scoped>
.overflowY {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100vh - 136px - 100px);
}
b-card {
  margin-bottom: 1vh;
}
</style>
