<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col>
          <h2>Logged user</h2>
          <b-row>
            <b-col class="pull-left" cols="4">User:</b-col>
            <b-col class="pull-left" cols="8">{{ getUserName }}</b-col>
          </b-row>
          <b-row>
            <b-col class="pull-left" cols="4">institution:</b-col>
            <b-col class="pull-left" cols="8">{{ getUserInstitution }}</b-col>
          </b-row>
          <b-row>
            <b-col class="pull-left" cols="4">Position:</b-col>
            <b-col class="pull-left" cols="8">{{ getUserPosition }}</b-col>
          </b-row>
          
          <h3>User activity</h3>
          <b-row>
            <b-col class="pull-left" cols="4">Uploaded files count:</b-col>
            <b-col class="pull-left" cols="8">{{ getFilesCount }}</b-col>
          </b-row>
          <b-row>
            <b-col class="pull-left" cols="4">Last uploaded file:</b-col>
            <b-col class="pull-left link" cols="8" @click="openLastFileDetail()">{{ getLastFileName }}</b-col>
          </b-row>
        </b-col>
        <b-col>
          <welcome-chart-table v-bind:items="data"> </welcome-chart-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Store from "../../store";
import welcomeChartTableVue from "../global/charts/tables/welcomeChartTable.vue";
import * as Constatnts from "../../constants";
export default {
  components: {
    welcomeChartTable: welcomeChartTableVue
  },
  name: "Welcome",
  data() {
    return {
      data: {
      }
    }
  },
  methods:{
    openLastFileDetail(){
      Store.dispatch("setRowDataCompareFile",{data:{uuid:this.lastFile.upload.uuid}})
      Store.dispatch("changeView",Constatnts.VIEW_MANAGE_FILES_DETAIL)
    }
  },
  computed: {
    getFilesCount() {
      return Store.state.finishedFiles.length;
    },
    getLastFileName() {
      if (Store.state.finishedFiles.length > 0) {
        return this.lastFile.info.fileName+"."+this.lastFile.info.fileFormat;
      }

      return "";
    },
    getUserName() {
      return Store.state.user.name;
    },
    getUserInstitution() {
      return Store.state.user.institution;
    },
    getUserPosition() {
      return Store.state.user.position;
    },
    lastFile(){
      console.log(Store.state.finishedFiles[Store.state.finishedFiles.length - 1])
      return Store.state.finishedFiles[Store.state.finishedFiles.length - 1]
    }
  }
};
</script>

<style scoped>
p,
h2, h3 {
  text-align: left;
}
.pull-left {
  text-align: left;
}
.link{
  text-decoration: underline;
  font-size: 1.5em;
  color: #f39405;
  cursor: pointer;
}
</style>
