<template>
  <b-container fluid>
    <!-- User Interface controls -->
    <b-row>
      <b-col lg="6" class="my-1">
        <b-form-group
          label="Filter"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="filterInput"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="filterInput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''"
                >Clear</b-button
              >
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>

      <b-col sm="7" md="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>

    <!-- Main table element -->
    <!-- primary-key je důležitý pro refresh tabulky (aby se refreshovali i tlačitka jako delete do kterýho se cpou data z řádku ale jakmile se vymaže řádek, data v buttonu se nezmění a button se posune víš (takže buton v řádku bude mazat řádek nad ním)) -->
    <b-row class="scrollAble">
      <b-col>
        <b-table
          id="fileTable"
          primary-key="uuid"
          show-empty
          small
          fixed
          striped
          stacked="sm"
          :items="items"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :filterIgnoredFields="notFilterOn"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          @filtered="onFiltered"
        >
          <template v-slot:cell(actions)="row">
            <b-button size="sm" title="Details/Compare" @click="getRowData(row)"
              ><font-awesome-icon icon="file-alt"
            /></b-button>
            <DeleteFileButton
              :fileUuid="row.item.uuid"
              :fileName="row.item.title"
            />
          </template>
        </b-table>
        Only for development
        <b-button @click="clearFileStorage">
          Clear storage
        </b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Store from "../../../store";
import * as Constants from "../../../constants";
import * as Helper from "../../../helpers/MainHelper";
import SuspisiousCompareModal from "../Modals/SuspisiousCompareModal";
import DeleteFileButton from "../../global/buttons/DeleteFileButton";

export default {
  components: {
    SuspisiousCompareModal: SuspisiousCompareModal,
    DeleteFileButton: DeleteFileButton
  },
  name: "ManageFiles",
  data() {
    return {
      items: [],
      fields: [
        { key: "id", label: "ID", sortable: true, sortDirection: "desc" },
        { key: "author", label: "Author", sortable: true },
        { key: "title", label: "Title", sortable: true },
        { key: "language", label: "Language", sortable: true },
        { key: "year", label: "Year", sortable: true },
        { key: "organisation", label: "Organisation", sortable: true },
        { key: "status", label: "Status", sortable: true },
        {
          key: "modified",
          label: "Modified",
          sortable: true,
          formatter: value => {
            return Helper.getDateTime(value);
          }
        },
        {
          key: "uploaded",
          label: "Uploaded",
          sortable: true,
          formatter: value => {
            return Helper.getDateTime(value);
          }
        },
        //{ key: 'wchd', label: 'WChD', sortable: true},
        //{ key: 'homoglyphs', label: 'Homoglyphs', sortable: true},
        { key: "actions", label: "Actions" }
        /*{
            key: 'title',
            label: 'Title',
            formatter: (value, key, item) => {
              return value ? 'Yes' : 'No'
            },
            sortable: true,
            sortByFormatted: true,
            filterByFormatted: true
          },*/
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: Store.state.sortingSettings.perPage,
      pageOptions: Store.state.sortingSettings.pageOptions,
      sortBy: Store.state.sortingSettings.sortBy,
      sortDesc: Store.state.sortingSettings.sortDesc,
      sortDirection: Store.state.sortingSettings.sortDirection,
      filter: null,
      notFilterOn: ["uuid", "format"]
    };
  },
  mounted() {
    this.getDataItems();
  },
  beforeUpdate() {
    Store.subscribe((mutation, state) => {
      if (
        mutation.type === "updateSavedFile" ||
        mutation.type === "deleteFinishedFile" ||
        mutation.type === "selectDocumentList"
      ) {
        this.getDataItems();
      }
    });
  },
  methods: {
    clearFileStorage() {
      Store.dispatch("clearSavedFiles");
      this.items = [];
    },
    getRowData(row) {
      let rowData = {
        data: row.item,
        index: row.index
      };
      Store.dispatch("setRowDataCompareFile", rowData);
      Store.dispatch("changeView", Constants.VIEW_MANAGE_FILES_DETAIL);
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    getDataItems() {
      let items = [];
      //let files = Helper.getListItems(Store.state.selectedDocumentList);
      let files = Store.state.finishedFiles
      console.log(files)
      //if (files.length > 0) {
      for (let f of files) {
        items.push({
          title: f.info.fileName,
          format: f.info.fileFormat,
          size: Helper.getKiloBites(f.size) + " KB",
          author: f.info.name,
          year: f.info.year,
          organisation: f.info.area,
          language: f.info.language,
          //status: null,
          modified: f.info.lastModified,
          //wchd: null,
          actions: f.info.fileName,
          uuid: f.upload.uuid,
          uploaded: f.info.uploaded
        });
      }
      this.items = items;
      this.totalRows = this.items.length;
    }
  }
};
</script>

<style scoped>
table {
  font-size: 1vw !important;
}
.scrollAble {
  max-height: 60vh;
  overflow-y: scroll;
}
</style>
