<script>
import { Pie } from "vue-chartjs";

export default {
  extends: Pie,
  props: ["chartdata", "options"],
  mounted() {
    this.renderChart(this.chartdata, this.options);
  }
};
</script>

<style>
canvas {
  width: 400px !important;
  height: 400px !important;
}
</style>
