<template>
  <span>
    <b-button
      class="leftAlign"
      @click="this.showModal"
      title="Clear all"
      size="sm"
      variant="danger"
      ><font-awesome-icon icon="times" />Clear</b-button
    >
    <b-modal ref="clearAll" title="Clear files?" @ok="handleClear()">
      <p class="my-4">Really clear all uploaded files?</p>
    </b-modal>
  </span>
</template>

<script>
import Store from "../../../store";
import * as Constants from "../../../constants";

export default {
  name: "ClearAllButton",
  props: {
    action: Function
  },
  data() {
    return {
      warningModals: Store.state.options.warningModal
    };
  },
  methods: {
    showModal() {
      if (this.warningModals) {
        this.$refs["clearAll"].show();
      } else {
        this.handleClear();
      }
    },
    handleClear() {
      this.action();
    }
  }
};
</script>

<style>
.leftAlign {
  text-align: left;
}
</style>
