<template>
  <span>
    <b-button
      class="leftAlign"
      @click="this.showModal"
      title="Delete"
      size="sm"
      variant="danger"
      ><font-awesome-icon icon="times"
    /></b-button>
    <b-modal
      :ref="this.uuid"
      :id="this.uuid"
      title="Delete file?"
      @ok="handleDeleteFile()"
    >
      <p class="my-4">Really delete "{{ this.name }}"?</p>
    </b-modal>
  </span>
</template>

<script>
import Store from "../../../store";
import * as Constants from "../../../constants";

export default {
  name: "DeleteFileButton",
  props: {
    fileUuid: String,
    fileName: String
  },
  data() {
    return {
      uuid: this.fileUuid,
      name: this.fileName,
      warningModals: Store.state.options.warningModal
    };
  },
  methods: {
    showModal() {
      if (this.warningModals) {
        this.$refs[this.uuid].show();
      } else {
        this.handleDeleteFile();
      }
    },
    handleDeleteFile() {
      Store.dispatch("deleteFinishedFile", this.uuid);
    }
  },
  watch: {
    fileUuid(value) {
      this.uuid = value;
    },
    fileName(value) {
      this.name = value;
    }
  }
};
</script>

<style>
.leftAlign {
  text-align: left;
}
</style>
