<template>
  <div class="">
    <b-button
      class="leftAlign"
      size="lg"
      v-on:click="handleGoBack(this)"
      variant="outline-primary"
      ><font-awesome-icon icon="arrow-left"
    /></b-button>
  </div>
</template>

<script>
import Store from "../../../store";
import * as Constants from "../../../constants";

export default {
  name: "GoBackButton",
  data() {
    return {
      goBackView: null
    };
  },
  methods: {
    handleGoBack(g) {
      if (this.goBackView !== null) {
        Store.dispatch("goBackView");
      } else {
        Store.dispatch(
          "alertBox",
          "You are already at the start of your journey."
        );
      }
    }
  },
  mounted() {
    Store.subscribe((mutation, state) => {
      if (mutation.type === "goBackView" || mutation.type === "changeView") {
        this.goBackView = state.activeView.goBackView;
      }
    });
  }
};
</script>

<style>
.leftAlign {
  text-align: left;
}
</style>
