<template>
  <div class="">
    <b-button
      class="leftAlign"
      size="lg"
      v-on:click="handleGoHomeButtonClick(this)"
      variant="outline-primary"
      ><font-awesome-icon icon="home"
    /></b-button>
  </div>
</template>

<script>
import Store from "../../../store";
import * as Constants from "../../../constants";

export default {
  name: "GoHomeButton",
  methods: {
    handleGoHomeButtonClick(g) {
      Store.dispatch("changeView", Constants.VIEW_HOME);
    }
  }
};
</script>

<style>
.leftAlign {
  text-align: left;
}
</style>
