<template>
  <div class="">
    <b-button size="sm" v-on:click="logOut" variant="outline-dark">{{
      title
    }}</b-button>
  </div>
</template>

<script>
import Store from "../../../store";
export default {
  name: "LogOutButton",
  props: {
    title: String
  },
  methods: {
    logOut() {
      this.$router.push("/");
      Store.dispatch("logOut");
      Store.dispatch("alertBox", "Log out was succesfull");
    }
  }
};
</script>

<style></style>
