<template>
  <div class="">
    <b-button size="sm" @click="this.showModal" variant="success"
      >Next <font-awesome-icon icon="arrow-right"
    /></b-button>
    <b-modal ref="next" id="modal14" title="Rejected files" @ok="handleOk">
      <p class="my-4">{{ this.message }}?</p>
    </b-modal>
  </div>
</template>

<script>
import Store from "../../../store";
import defaultModal from "../Modal.vue";

export default {
  name: "SaveButton",
  props: {
    action: Function,
    message: String,
    displayOkScene: String,
    shouldShowWarningModal: Boolean
  },
  data() {
    return {
      warningModals: Store.state.options.warningModal
    };
  },
  methods: {
    showModal() {
      if (this.warningModals && this.shouldShowWarningModal) {
        this.$refs["next"].show();
      } else {
        this.handleOk();
      }
    },
    handleOk() {
      this.action();
      if (
        this.displayOkScene !== "" &&
        this.displayOkScene !== null &&
        this.displayOkScene !== undefined
      ) {
        Store.dispatch("changeView", this.displayOkScene);
      }
    }
  }
};
</script>

<style></style>
