<template>
  <div class="">
    <b-button size="sm" v-b-modal.modal12 variant="outline-primary">{{
      title
    }}</b-button>
    <b-modal
      id="modal12"
      title="BootstrapVue"
      @ok="handleOk"
      @cancel="handleOk"
    >
      <p class="my-4">{{ message }}</p>
    </b-modal>
  </div>
</template>

<script>
import Store from "../../../store";
import defaultModal from "../Modal.vue";
export default {
  name: "OpenModalButton",
  props: {
    title: String,
    message: String
  },
  methods: {
    handleOk() {
      console.log("ok");
    }
  }
};
</script>

<style></style>
