<template>
  <div class="">
    <b-button size="sm" @click="this.showModal" variant="danger"
      >Reset</b-button
    >
    <b-modal ref="reset" id="modal14" title="Reset values?" @ok="handleOk">
      <p class="my-4">Really reset values to previous saved?</p>
    </b-modal>
  </div>
</template>

<script>
import Store from "../../../store";
import defaultModal from "../Modal.vue";

export default {
  name: "ResetButton",
  props: {
    action: Function,
    whatToReset: String
  },
  data() {
    return {
      warningModals: Store.state.options.warningModal
    };
  },
  methods: {
    showModal() {
      if (this.warningModals) {
        this.$refs["reset"].show();
      } else {
        this.handleOk();
      }
    },
    handleOk() {
      this.action();
    }
  }
};
</script>

<style></style>
