<template>
  <div class="">
    <b-button size="sm" @click="this.showModal" variant="success"
      ><font-awesome-icon icon="save" /> Save</b-button
    >
    <b-modal ref="save" title="Save?" @ok="handleOk">
      <p class="my-4">Really save {{ this.whatToSave }}?</p>
    </b-modal>
  </div>
</template>

<script>
import Store from "../../../store";
import defaultModal from "../Modal.vue";

export default {
  name: "SaveButton",
  props: {
    action: Function,
    whatToSave: String,
    displayOkScene: String
  },
  data() {
    return {
      warningModals: Store.state.options.warningModal
    };
  },
  methods: {
    showModal() {
      if (this.warningModals) {
        this.$refs["save"].show();
      } else {
        this.handleOk();
      }
    },
    handleOk() {
      this.action();
      if (
        this.displayOkScene !== "" &&
        this.displayOkScene !== null &&
        this.displayOkScene !== undefined
      ) {
        Store.dispatch("changeView", this.displayOkScene);
      }
    }
  }
};
</script>

<style></style>
