<template>
  <div class="">
    <b-button
      size="lg"
      v-on:click="handleGoToSettingsButtonClick(this)"
      variant="outline-primary"
      ><font-awesome-icon icon="cog"
    /></b-button>
  </div>
</template>

<script>
import Store from "../../../store";
import * as Constants from "../../../constants";

export default {
  name: "SettingsButton",
  methods: {
    handleGoToSettingsButtonClick(g) {
      Store.dispatch("changeView", Constants.VIEW_ADD_SETTINGS);
    }
  }
};
</script>

<style></style>
