<template>
  <div class="">
    <b-button
      size="sm"
      v-on:click="handleGoToSettingsButtonClick(this)"
      variant="outline-primary"
      >Preffil settings</b-button
    >
  </div>
</template>

<script>
import Store from "../../../store";
import * as Constants from "../../../constants";

export default {
  name: "SettingsPrefillButton",
  methods: {
    handleGoToSettingsButtonClick(g) {
      Store.dispatch("changeView", Constants.VIEW_ADD_SETTINGS_PREFFIL);
    }
  }
};
</script>

<style></style>
