<template>
  <div class>
    <b-button
      size="sm"
      v-on:click="handleGoToSettingsButtonClick(this)"
      variant="outline-primary"
      >Options settings</b-button
    >
  </div>
</template>

<script>
import Store from "../../../store";
import * as Constants from "../../../constants";

export default {
  name: "SettingsOptionsButton",
  methods: {
    handleGoToSettingsButtonClick(g) {
      Store.dispatch("changeView", Constants.VIEW_ADD_SETTINGS_OPTIONS);
    }
  }
};
</script>

<style></style>
