<template>
  <div id="login">
    <b-container fluid>
      <b-row>
        <b-col cols="4">
          <h1>Login Page</h1>
        </b-col>
        <b-col cols="4">
          <b-card>
            <b-form-group
              id="fieldset-1"
              label="Zadejte jméno"
              label-for="login-name"
              :invalid-feedback="invalidFeedback"
              :valid-feedback="validFeedback"
              :state="state"
            >
              <b-form-input
                id="login-name"
                v-model="name"
                :state="state"
                trim
              ></b-form-input>
            </b-form-group>
            <b-form-group
              id="fieldset-2"
              label="Zadejte heslo"
              label-for="password"
              :invalid-feedback="invalidFeedbackPassword"
              :valid-feedback="validFeedbackPassword"
              :state="statePass"
            >
              <b-form-input
                id="password"
                type="password"
                v-on:keyup.enter="logIn()"
                v-model="pass"
                :state="statePass"
                trim
              ></b-form-input>
            </b-form-group>
            <b-collapse id="collapse-1" v-bind:visible="enableLogin">
              <b-button size="sm" variant="success" v-on:click="logIn"
                >Login</b-button
              >
            </b-collapse>
          </b-card>
        </b-col>
        <b-col cols="4" class="text-align-right"> </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Store from "../store";
import Data from "../assets/data";
import * as Constants from "../constants";
export default {
  name: "Login",
  props: {
    title: String
  },
  methods: {
    logIn() {
      if (this.enableLogin) {
        Store.dispatch("logIn", { user: Data.user, scene: this.nextScene }); //první musí být nastavená vlajka do storu na ni se potom odkazuju ve vue-routeru
        this.$router.push("/main");
        Store.dispatch("alertBox", "Log In was succesfull.");
      }
    }
  },
  computed: {
    nextScene() {
      return Store.state.options.mainScene;
    },
    state() {
      return this.name.length >= 4 && Data.user.name === this.name;
    },
    invalidFeedback() {
      if (Data.user.name !== this.name) {
        return "User not found";
      } else {
        return "Please enter something";
      }
    },
    validFeedback() {
      return this.state === true ? "Thank you" : "";
    },
    statePass() {
      return this.pass.length >= 4 && Data.user.pass === this.pass;
    },
    invalidFeedbackPassword() {
      if (Data.user.pass !== this.pass) {
        return "Invalid password";
      } else {
        return "Please enter something";
      }
    },
    validFeedbackPassword() {
      return this.statePass === true ? "Thank you" : "";
    },
    enableLogin() {
      return this.statePass && this.state;
    }
  },
  data() {
    return {
      name: "zdenda",
      pass: "1234"
    };
  }
};
</script>

<style scoped>
#login {
  padding-top: 50px;
  padding-left: 4%;
  text-align: left;
}
</style>
