<template>
  <Layout msg="Welcome to Main Anton page" />
</template>

<script>
// @ is an alias to /src
import Layout from "@/components/global/layouts/MainLayout.vue";

export default {
  name: "home",
  components: {
    Layout
  }
};
</script>
