<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col cols="1" class="aside-menu">
          <GoBackButton />
          <GoHomeButton title="Home"></GoHomeButton>
          <SettingsButton title="Settings"></SettingsButton>
        </b-col>
        <b-col cols="11" class="no-padding main-content mt-3 pt-3 pl-2 pr-2">
          <component
            class="no-margin"
            v-bind:msg="msg"
            v-bind:is="getLayout()"
          ></component>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import GoHomeButton from "../../global/buttons/GoHomeButton.vue";
import GoBackButton from "../../global/buttons/GoBackButton.vue";
import SettingsButton from "../../global/buttons/SettingsButton";
import OpenModalButtonVue from "../../global/buttons/OpenModalButton.vue";
import addNewDocumentVue from "../../content/AddNewDocument.vue";
import Store from "../../../store";
import WelcomeVue from "../../content/Welcome.vue";
import AddNewDocumentInfoVue from "../../content/AddNewDocumentInfo.vue";
import Settings from "../../content/Settings";
import SettingsPreffil from "../../content/Settings/SettingsReffil";
import SettingsSorting from "../../content/Settings/SettingsSorting";
import SettingsOptions from "../../content/Settings/SettingsOptions";
import ManageFiles from "../../content/ManageFiles";
import ManageFilesDetail from "../../content/ManageFilesDetail";
export default {
  components: {
    Settings: Settings,
    GoHomeButton: GoHomeButton,
    openModalButton: OpenModalButtonVue,
    Home: WelcomeVue,
    New_document: addNewDocumentVue,
    New_document_info: AddNewDocumentInfoVue,
    SettingsButton: SettingsButton,
    Settings_preffil: SettingsPreffil,
    Settings_sorting: SettingsSorting,
    Manage_files: ManageFiles,
    Manage_files_detail: ManageFilesDetail,
    GoBackButton: GoBackButton,
    Settings_options: SettingsOptions
  },
  name: "MainLayout",
  props: {
    msg: String
  },
  data() {
    return {
      component: Store.state.activeView.type
    };
  },
  methods: {
    getLayout() {
      return Store.state.activeView.type;
    },
    getMessage() {
      return "Ahoj!";
    }
  },
  computed: {}
};
</script>

<style scoped>
.aside-menu {
  width: 10px !important;
  /* background-color: rgba(68, 85, 85, 0.596);
  color: whitesmoke!important;*/
  padding: 0;
  padding-top: 50px;
  height: calc(100vh - 136px);
  /*border-right: 1px solid black;*/
  /*text-align: left;*/
}
.main-content {
  height: calc(100vh - 136px - 150px);
}
</style>
