<template>
  <div>
    <div v-if="showForm" class="scrollAble p-1">
    <b-card border-variant="secondary" align="left" >
      <b-form-group
        label-cols="6"
        label-cols-lg="4"
        label-size="sm"
        label="Author full name"
        label-for="input-sm1"
      >
        <b-form-input
          v-model="name"
          id="input-sm1"
          size="sm"
          @blur="this.handleInputBlur"
          :disabled=isFormDisabled
        ></b-form-input>
      </b-form-group>
      <b-form-group
        label-cols="6"
        label-cols-lg="4"
        label-size="sm"
        label="Author e-mail"
        label-for="input-sm2"
      >
        <b-form-input
          v-model="email"
          id="input-sm2"
          size="sm"
          @blur="this.handleInputBlur"
          :disabled=isFormDisabled
        ></b-form-input>
      </b-form-group>
    </b-card>
    <b-card border-variant="secondary" align="left">
      <b-form-group
        label-cols="6"
        label-cols-lg="4"
        label-size="sm"
        label="Document name"
        label-for="input-sm3"
      >
        <b-form-input
          v-model="fileName"
          id="input-sm3"
          size="sm"
          @blur="this.handleInputBlur"
          :disabled=isFormDisabled
        ></b-form-input>
      </b-form-group>
      <b-form-group
        label-cols="6"
        label-cols-lg="4"
        label-size="sm"
        label="Document file format"
        label-for="input-sm4"
      >
        <b-form-input
          v-model="fileFormat"
          id="input-sm4"
          size="sm"
          @blur="this.handleInputBlur"
          :disabled=isFormDisabled
        ></b-form-input>
      </b-form-group>
      <b-form-group
        label-cols="6"
        label-cols-lg="4"
        label-size="sm"
        label="Language"
        label-for="input-sm5"
      >
        <b-form-input
          v-model="language"
          id="input-sm5"
          size="sm"
          @blur="this.handleInputBlur"
          :disabled=isFormDisabled
        ></b-form-input>
      </b-form-group>
      <b-form-group
        label-cols="6"
        label-cols-lg="4"
        label-size="sm"
        label="Keywords"
        label-for="input-sm6"
      >
        <b-form-input
          v-model="keyword"
          id="input-sm6"
          size="sm"
          @blur="this.handleInputBlur"
          :disabled=isFormDisabled
        ></b-form-input>
      </b-form-group>
      <b-form-group
        label-cols="6"
        label-cols-lg="4"
        label-size="sm"
        label="Description"
        label-for="input-sm7"
      >
        <b-form-input
          v-model="description"
          id="input-sm7"
          size="sm"
          @blur="this.handleInputBlur"
          :disabled=isFormDisabled
        ></b-form-input>
      </b-form-group>
    </b-card>
    <b-card border-variant="secondary" align="left">
      <b-form-group
        label-cols="6"
        label-cols-lg="4"
        label-size="sm"
        label="Year"
        label-for="input-sm8"
      >
        <b-form-input
          v-model="year"
          id="input-sm8"
          size="sm"
          @blur="this.handleInputBlur"
          :disabled=isFormDisabled
        ></b-form-input>
      </b-form-group>
      <b-form-group
        label-cols="6"
        label-cols-lg="4"
        label-size="sm"
        label="Area"
        label-for="input-sm9"
      >
        <b-form-input
          v-model="area"
          id="input-sm9"
          size="sm"
          @blur="this.handleInputBlur"
          :disabled=isFormDisabled
        ></b-form-input>
      </b-form-group>
      <b-form-group
        label-cols="6"
        label-cols-lg="4"
        label-size="sm"
        label="Url"
        label-for="input-sm10"
      >
        <b-form-input
          v-model="url"
          id="input-sm10"
          size="sm"
          @blur="this.handleInputBlur"
          :disabled=isFormDisabled
        ></b-form-input>
      </b-form-group>
      <b-form-group
        label-cols="6"
        label-cols-lg="4"
        label-size="sm"
        label="Internal identification"
        label-for="input-sm11"
      >
        <b-form-input
          v-model="iid"
          id="input-sm11"
          size="sm"
          @blur="this.handleInputBlur"
          :disabled=isFormDisabled
        ></b-form-input>
      </b-form-group>
    </b-card>
    </div>
    <div class="noScroll marginTop" v-else>
      <b-card>
        <p>For change metadata about file select one from table.</p>
        <p>(Not necessary)</p>
      </b-card>
    </div>
  </div>
</template>

<script>
import Store from "../../../store";
import * as Helper from "../../../helpers/MainHelper";
import * as Constants from "../../../constants";

export default {
  name: "AddNewDocumentInfoForm",
  props: {
    selected: Array,
    predefined: Object
  },
  data() {
    return {
      name: this.predefined.name,
      email: this.predefined.email,
      fileName: "",
      fileFormat: "",
      language: this.predefined.language,
      keyword: this.predefined.keyword,
      description: this.predefined.description,
      year: this.predefined.year,
      area: this.predefined.area,
      url: this.predefined.url,
      iid: this.predefined.iid
    };
  },
  computed: {
    showForm(){
      return this.selected.length > 0
    },
    isFormDisabled(){
      return this.selected[0].state === "Staged-Rejected"
    }
  },
  watch: {
    selected(val) {
      if (val.length > 0) {
        this.setValues();
      }
      if (val.length === 0) {
        this.setValuesToZero();
      }
    }
  },
  methods: {
    handleInputBlur() {
      if (this.selected !== undefined && this.selected[0] !== undefined) {
        let info = {
          name: this.name,
          email: this.email,
          fileName: this.fileName,
          fileFormat: this.fileFormat,
          language: this.language,
          keyword: this.keyword,
          description: this.description,
          year: this.year,
          area: this.area,
          url: this.url,
          iid: this.iid
        };
        Store.dispatch("updateFile", {
          uuid: this.selected[0].uuid,
          info: info
        });
        Store.dispatch("alertBox", "File "+this.selected[0].name+" info was updated.");
      } else {
        this.updatePredefined();
      }
    },

    updatePredefined() {
      let newPredefined = {
        name: this.name,
        email: this.email,
        fileName: "",
        fileFormat: "",
        language: this.language,
        keyword: this.keyword,
        description: this.description,
        year: this.year,
        area: this.area,
        url: this.url,
        iid: this.iid
      };
      Store.dispatch("updatePredefined", newPredefined);
    },
    setValues() {
      if (this.selected[0] !== undefined && this.selected[0].info !== null) {
        this.name = this.selected[0].info.name;
        this.email = this.selected[0].info.email;
        this.fileName = this.selected[0].info.fileName;
        this.fileFormat = this.selected[0].info.fileFormat;
        this.language = this.selected[0].info.language;
        this.keyword = this.selected[0].info.keyword;
        this.description = this.selected[0].info.description;
        this.year = this.selected[0].info.year;
        this.area = this.selected[0].info.area;
        this.url = this.selected[0].info.url;
        this.iid = this.selected[0].info.iid;
      } else if (this.selected[0] !== undefined) {
        this.name = this.predefined.name;
        this.email = this.predefined.email;
        this.fileName = this.selected[0].name;
        this.fileFormat = this.selected[0].format;
        this.language = this.predefined.language;
        this.keyword = this.predefined.keyword;
        this.description = this.predefined.description;
        this.year = this.predefined.year;
        this.area = this.predefined.area;
        this.url = this.predefined.url;
        this.iid = this.predefined.iid;
      }
    },
    setValuesToZero() {
      this.name = this.predefined.name;
      this.email = this.predefined.email;
      this.fileName = "";
      this.fileFormat = "";
      this.language = this.predefined.language;
      this.keyword = this.predefined.keyword;
      this.description = this.predefined.description;
      this.year = this.predefined.year;
      this.area = this.predefined.area;
      this.url = this.predefined.url;
      this.iid = this.predefined.iid;
    }
  },
  mounted() {
    this.setValues();
  }
};
</script>

<style scoped>
.scrollAble {
  max-height: calc(100vh - 136px - 100px - 100px);
  overflow-y: scroll;
}
.form-group {
  margin-bottom: 5px !important;
}
.noScroll {
  overflow: hidden;
}
.marginTop {
  margin-top: 20px;
}
</style>
