<template>
  <div>
    <b-table striped hover :items="getDataItems"></b-table>
  </div>
</template>

<script>
import * as LocalStorageHelper from "../../../../helpers/LocalStorageHelper";
export default {
  props: {
    items: Object
  },
  name: "WelcomeChartTable",
  methods: {
    getDataItems() {
      let items = [];
      let index;

      for (index in this.items.labels) {
        items.push({
          name: this.items.labels[index],
          data: this.items.datasets[0].data[index]
        });
      }

      return items;
    }
  },
  mounted() {
    this.getDataItems();
  }
};
</script>

<style>
td {
  padding: 3px !important;
}
</style>
