<template>
  <div class="scrollAble p-1">
    <b-container fluid>
      <b-row>
        <b-col lg="6" class="my-1">
          <b-card
            align="left"
            title="Sorting settings"
            sub-title="Sorting preferences at manage files scene."
          >
            <b-form-group
              label="Initial sort by"
              label-cols-sm="3"
              label-align-sm="right"
              label-size="sm"
              label-for="sortBySelect"
              class="mb-0"
            >
              <b-input-group size="sm">
                <b-form-select
                  v-model="sortBy"
                  id="sortBySelect"
                  :options="sortOptions"
                  class="w-75"
                >
                  <template v-slot:first>
                    <option value="">-- none --</option>
                  </template>
                </b-form-select>
                <b-form-select
                  v-model="sortDesc"
                  size="sm"
                  :disabled="!sortBy"
                  class="w-25"
                >
                  <option :value="false">Asc</option>
                  <option :value="true">Desc</option>
                </b-form-select>
              </b-input-group>
            </b-form-group>

            <b-form-group
              label="Sort other columns"
              label-cols-sm="3"
              label-align-sm="right"
              label-size="sm"
              label-for="initialSortSelect"
              class="mb-0"
            >
              <b-form-select
                v-model="sortDirection"
                id="initialSortSelect"
                size="sm"
                :options="['asc', 'desc', 'last']"
              ></b-form-select>
            </b-form-group>

            <b-form-group
              label="Files per page"
              label-cols-sm="6"
              label-cols-md="4"
              label-cols-lg="3"
              label-align-sm="right"
              label-size="sm"
              label-for="perPageSelect"
              class="mb-0"
            >
              <b-form-select
                v-model="perPage"
                id="perPageSelect"
                size="sm"
                :options="pageOptions"
              ></b-form-select>
            </b-form-group>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Store from "../../../store";
import SaveButton from "../../global/buttons/SaveButton";
import ResetButton from "../../global/buttons/ResetButton";
import * as Constants from "../../../constants";

export default {
  name: "SettingsSorting",
  components: {},

  data() {
    return {
      perPage: Store.state.sortingSettings.perPage,
      pageOptions: Store.state.sortingSettings.pageOptions,
      sortBy: Store.state.sortingSettings.sortBy,
      sortDesc: Store.state.sortingSettings.sortDesc,
      sortDirection: Store.state.sortingSettings.sortDirection,
      fields: [
        { key: "id", label: "ID", sortable: true, sortDirection: "desc" },
        { key: "author", label: "Author", sortable: true },
        { key: "title", label: "Title", sortable: true },
        { key: "language", label: "Language", sortable: true },
        { key: "year", label: "Year", sortable: true },
        { key: "organisation", label: "Organisation", sortable: true },
        { key: "status", label: "Status", sortable: true },
        { key: "modified", label: "Modified", sortable: true },
        { key: "uploaded", label: "Uploaded", sortable: true }
      ]
    };
  },
  computed: {
    sortOptions() {
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  watch: {
    perPage(value) {
      let newOptions = {
        perPage: value,
        pageOptions: this.pageOptions,
        sortBy: this.sortBy,
        sortDesc: this.sortDesc,
        sortDirection: this.sortDirection
      };
      Store.dispatch("updateSortingSettings", newOptions);
    },
    pageOptions(value) {
      let newOptions = {
        perPage: this.perPage,
        pageOptions: value,
        sortBy: this.sortBy,
        sortDesc: this.sortDesc,
        sortDirection: this.sortDirection
      };
      Store.dispatch("updateSortingSettings", newOptions);
    },
    sortBy(value) {
      let newOptions = {
        perPage: this.perPage,
        pageOptions: this.pageOptions,
        sortBy: value,
        sortDesc: this.sortDesc,
        sortDirection: this.sortDirection
      };
      Store.dispatch("updateSortingSettings", newOptions);
    },
    sortDesc(value) {
      let newOptions = {
        perPage: this.perPage,
        pageOptions: this.pageOptions,
        sortBy: this.sortBy,
        sortDesc: value,
        sortDirection: this.sortDirection
      };
      Store.dispatch("updateSortingSettings", newOptions);
    },
    sortDirection(value) {
      let newOptions = {
        perPage: this.perPage,
        pageOptions: this.pageOptions,
        sortBy: this.sortBy,
        sortDesc: this.sortDesc,
        sortDirection: value
      };
      Store.dispatch("updateSortingSettings", newOptions);
    }
  }
};
</script>

<style scoped></style>
