<template>
  <div class=" p-1">
    <b-container fluid>
      <b-row class="scrollAble">
        <b-col cols="6">
          <b-card
            align="left"
            title="Preffil settings"
            sub-title="Preffil add new document form"
          >
            <b-card border-variant="secondary" align="left">
              <b-form-group
                label-cols="6"
                label-cols-lg="4"
                label-size="sm"
                label="Author full name"
                label-for="input-sm1"
              >
                <b-form-input
                  v-model="name"
                  id="input-sm1"
                  size="sm"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label-cols="6"
                label-cols-lg="4"
                label-size="sm"
                label="Author e-mail"
                label-for="input-sm2"
              >
                <b-form-input
                  v-model="email"
                  id="input-sm2"
                  size="sm"
                ></b-form-input>
              </b-form-group>
            </b-card>
            <b-card border-variant="secondary" align="left">
              <b-form-group
                label-cols="6"
                label-cols-lg="4"
                label-size="sm"
                label="Document name"
                label-for="input-sm3"
              >
                <b-form-input
                  v-model="fileName"
                  id="input-sm3"
                  size="sm"
                  disabled
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label-cols="6"
                label-cols-lg="4"
                label-size="sm"
                label="Document file format"
                label-for="input-sm4"
              >
                <b-form-input
                  v-model="fileFormat"
                  id="input-sm4"
                  size="sm"
                  disabled
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label-cols="6"
                label-cols-lg="4"
                label-size="sm"
                label="Language"
                label-for="input-sm5"
              >
                <b-form-input
                  v-model="language"
                  id="input-sm5"
                  size="sm"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label-cols="6"
                label-cols-lg="4"
                label-size="sm"
                label="Keywords"
                label-for="input-sm6"
              >
                <b-form-input
                  v-model="keyword"
                  id="input-sm6"
                  size="sm"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label-cols="6"
                label-cols-lg="4"
                label-size="sm"
                label="Description"
                label-for="input-sm7"
              >
                <b-form-input
                  v-model="description"
                  id="input-sm7"
                  size="sm"
                ></b-form-input>
              </b-form-group>
            </b-card>
            <b-card border-variant="secondary" align="left">
              <b-form-group
                label-cols="6"
                label-cols-lg="4"
                label-size="sm"
                label="Year"
                label-for="input-sm8"
              >
                <b-form-input
                  v-model="year"
                  id="input-sm8"
                  size="sm"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label-cols="6"
                label-cols-lg="4"
                label-size="sm"
                label="Area"
                label-for="input-sm9"
              >
                <b-form-input
                  v-model="area"
                  id="input-sm9"
                  size="sm"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label-cols="6"
                label-cols-lg="4"
                label-size="sm"
                label="Url"
                label-for="input-sm10"
              >
                <b-form-input
                  v-model="url"
                  id="input-sm10"
                  size="sm"
                ></b-form-input>
              </b-form-group>
              <b-form-group
                label-cols="6"
                label-cols-lg="4"
                label-size="sm"
                label="Internal identification"
                label-for="input-sm11"
              >
                <b-form-input
                  v-model="iid"
                  id="input-sm11"
                  size="sm"
                ></b-form-input>
              </b-form-group>
            </b-card>
          </b-card>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="6" class="buttonCol">
          <SaveButton
            class="align-left"
            v-bind:action="this.updatePredefined"
            v-bind:whatToSave="this.title"
            v-bind:displayOkScene="this.displayNext"
          ></SaveButton>
          <ResetButton
            class="align-left"
            v-bind:action="this.resetForm"
            v-bind:whatToReset="this.title"
          ></ResetButton>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Store from "../../../store";
import SaveButton from "../../global/buttons/SaveButton";
import ResetButton from "../../global/buttons/ResetButton";
import * as Constants from "../../../constants";

export default {
  name: "Welcome",
  components: {
    SaveButton: SaveButton,
    ResetButton: ResetButton
  },
  data() {
    return {
      displayNext: Constants.VIEW_ADD_SETTINGS,
      title: "preffil settings",
      name: Store.state.predefined.name,
      email: Store.state.predefined.email,
      fileName: "File names are completed automaticaly",
      fileFormat: "File formats are completed automaticaly",
      language: Store.state.predefined.language,
      keyword: Store.state.predefined.keyword,
      description: Store.state.predefined.description,
      year: Store.state.predefined.year,
      area: Store.state.predefined.area,
      url: Store.state.predefined.url,
      iid: Store.state.predefined.iid
    };
  },
  methods: {
    updatePredefined() {
      let newPredefined = {
        name: this.name,
        email: this.email,
        fileName: "",
        fileFormat: "",
        language: this.language,
        keyword: this.keyword,
        description: this.description,
        year: this.year,
        area: this.area,
        url: this.url,
        iid: this.iid
      };
      Store.dispatch("updatePredefined", newPredefined);
    },
    resetForm() {
      this.name = Store.state.predefined.name;
      this.email = Store.state.predefined.email;
      this.language = Store.state.predefined.language;
      this.keyword = Store.state.predefined.keyword;
      this.description = Store.state.predefined.description;
      this.year = Store.state.predefined.year;
      this.area = Store.state.predefined.area;
      this.url = Store.state.predefined.url;
      this.iid = Store.state.predefined.iid;
    }
  }
};
</script>

<style scoped>
p,
h2,
.align-left {
  text-align: left;
  display: inline-block;
  margin-right: 5px;
}
.buttonCol{
  padding-top: 5px;
  text-align: left;
}
.scrollAble {
  max-height: calc(100vh - 136px - 100px);
  overflow-y: scroll;
}
.form-group {
  margin-bottom: 5px !important;
}
</style>
