<template>
  <div class="scrollAble p-1">
    <b-container fluid>
      <b-row>
        <b-col>
          <b-card
            align="left"
            title="Option settings"
            sub-title="Change GUI behaviour, for better experience."
          >
            <b-form-checkbox
              class="divider"
              v-model="warningModal"
              name="check-button"
              switch
            >
              <b id="warningModal">Warning modals</b>
              <b-tooltip
                target="warningModal"
                triggers="hover"
                v-if="this.helpTooltips"
              >
                Turn <b>on/off</b> modals like "Do you really want delete this?"
              </b-tooltip>
            </b-form-checkbox>
            <b-form-checkbox
              class="divider"
              v-model="helpTooltips"
              name="check-button"
              switch
            >
              <b id="helpTooltips">Help tooltips</b>
              <b-tooltip
                target="helpTooltips"
                triggers="hover"
                v-if="this.helpTooltips"
              >
                <p>Turn <b>on/off</b> tooltips like this one.</p>
                <p>May slow some features of system!</p>
              </b-tooltip>
            </b-form-checkbox>

            <div class="divider">
              <b-tooltip
                target="radioGroupLabel"
                triggers="hover"
                v-if="this.helpTooltips"
              >
                You can choose what <b>scene</b> you will see after next login.
              </b-tooltip>
              <b-form-group >
                <label id="radioGroupLabel" for="radio-group-1"
                  ><b>Welcome scene</b></label
                >
                <b-form-radio-group
                  id="radio-group-1"
                  v-model="mainScene"
                  :options="options"
                  name="radio-options"
                ></b-form-radio-group>
              </b-form-group>
            </div>

            <div class="divider">
              <label id="fileSize" for="range-2"
                ><b>Maximum allowed size of files.</b></label
              >
              <b-form-input
                id="range-2"
                v-model="fileSize"
                type="range"
                min="0.1"
                max="100"
                step="0.1"
              ></b-form-input>
              <div class="mt-2">
                Max file size: <b>{{ fileSize }} MB</b>
              </div>
              <b-tooltip
                target="fileSize"
                triggers="hover"
                v-if="this.helpTooltips"
              >
                Changes <b>maximum size</b> of files, that can be uploaded via
                dropzone.
              </b-tooltip>
            </div>

            <div class="divider">
              <b-form-group label="Only for devs">
                Hidden in production
                <b-button @click="clearOptions()">
                  Clear options
                </b-button>
                <b-button @click="clearAll()">
                  Clear storage!
                </b-button>
              </b-form-group>
            </div>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Store from "../../../store";
import SaveButton from "../../global/buttons/SaveButton";
import ResetButton from "../../global/buttons/ResetButton";
import * as Constants from "../../../constants";
import * as LocalStorageHelper from "../../../helpers/LocalStorageHelper";

export default {
  name: "Welcome",
  components: {
    SaveButton: SaveButton,
    ResetButton: ResetButton
  },
  data() {
    return {
      warningModal: Store.state.options.warningModal,
      fileSize: Store.state.options.maxFileSize, //MB
      helpTooltips: Store.state.options.helpTooltips,
      mainScene: Store.state.options.mainScene,
      options: [
        { text: "Home scene", value: Constants.VIEW_HOME },
        { text: "Manage files scene", value: Constants.VIEW_MANAGE_FILES },
        { text: "Add new file scene", value: Constants.VIEW_ADD_NEW_DOCUMENT }
      ]
    };
  },
  methods: {
    clearOptions(){
      LocalStorageHelper.removeItemFromLocalStorage("options")
    },
    clearAll(){
      LocalStorageHelper.clearStorage();
    }
  },
  watch: {
    warningModal(value) {
      Store.dispatch("updateOptions", { key: "warningModal", value: value });
    },
    fileSize(value) {
      Store.dispatch("updateOptions", { key: "maxFileSize", value: value });
    },
    helpTooltips(value) {
      Store.dispatch("updateOptions", { key: "helpTooltips", value: value });
    },
    mainScene(value) {
      Store.dispatch("updateOptions", { key: "mainScene", value: value });
    }
  }
};
</script>

<style scoped>
p,
h2,
.align-left {
  text-align: left;
}
.scrollAble {
  max-height: calc(100vh - 136px - 100px);
  overflow-y: scroll;
}
.form-group {
  margin-bottom: 5px !important;
}
.divider {
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 3vw;
}
</style>
