<template>
  <div>
    <div id="app">
      <component v-bind:is="getModal()" />
      <component v-bind:message="getMessage()" v-bind:is="getAlertBox()" />
      <div id="nav">
        <component v-bind:is="getNavigation()" />
      </div>
      <router-view />
      <component v-bind:is="getInfoPanel()" />
    </div>
  </div>
</template>

<script>
import AlertBox from "./components/global/AlertBox.vue";
import Store from "./store";
import Modal from "./components/global/Modal.vue";
import InfoPanel from "./components/global/InfoPanel.vue";
import NavigationLoggedIn from "./components/global/NavigationLoggedIn.vue";
import * as Constants from "./constants";
import NavigationLoggetOutVue from "./components/global/NavigationLoggetOut.vue";

export default {
  name: "App",
  components: {
    alertBox: AlertBox,
    modal: Modal,
    navigationLoggedIn: NavigationLoggedIn,
    navigationLoggedOut: NavigationLoggetOutVue,
    infoPanel: InfoPanel
  },
  data() {
    return {};
  },
  methods: {
    getAlertBox() {
      if (Store.state.alertBox.display) {
        return "alertBox";
      }
      return "";
    },
    getMessage() {
      return Store.state.alertBox.message;
    },
    getModal() {
      if (Store.state.modal.display) {
        return "modal";
      }
      return "";
    },
    getInfoPanel() {
      return "infoPanel";
    },
    getNavigation() {
      if (Store.state.activeView.type === Constants.VIEW_LOGIN) {
        return "navigationLoggedOut";
      }
      return "navigationLoggedIn";
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-size: 1.2vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
#nav {
  padding: 30px;
  -webkit-box-shadow: 2px 4px 25px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 25px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 25px 2px rgba(0, 0, 0, 0.75);
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
div {
  box-sizing: border-box;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.text-align-right {
  text-align: right;
}
.overflowY {
  overflow-y: scroll;
  overflow-x: hidden;
}
.spinner {
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background: #2c3e50;
  position: absolute;
  color: darkorange;
}
</style>
