<template>
  <div id="alert-box">
    <b-alert show variant="success">{{ message }}</b-alert>
  </div>
</template>

<script>
export default {
  name: "AlertBox",
  props: {
    message: String
  },
  data() {
    return {};
  },
  methods: {}
};
</script>

<style>
#alert-box-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
#alert-box {
  position: absolute;
  width: 400px;
  top: 80px;
  right: 5%;
  z-index: 100;
}
b-alert {
  width: 100%;
  height: 100%;
}
</style>
