<template>
  <div id="info-panel">
    <b-alert
      v-model="showBottom"
      class="position-fixed fixed-bottom m-0 rounded-0"
      style="z-index: 8;"
      variant="secondary"
    >
      <b-container fluid>
        <b-row>
          <b-col cols="2">
            <div class="clearfix" id="content-left"></div>
          </b-col>
          <b-col cols="7">
            {{ navigationPath }}
          </b-col>

          <b-col cols="3">
            <div id="content-right">
              <span id="user">{{ getLoggedInUser() }}</span>
              <span id="view"
                ><component v-bind:is="getLogoutButton()" title="Log out"
              /></span>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </b-alert>
  </div>
</template>

<script>
import Store from "../../store";
import * as Constants from "../../constants";
import LogOutButton from "../global/buttons/LogOutButton.vue";
import * as Helper from "../../helpers/MainHelper";

export default {
  name: "InfoPanel",
  components: {
    logOutButton: LogOutButton
  },
  computed: {
    navigationPath() {
      return this.getReadableSceneNames(
        Helper.getNavigationPathFromActiveScene(Store.state.activeView.type)
      );
    }
  },
  data() {
    return {
      showBottom: true
    };
  },
  methods: {
    getLoggedInUser() {
      return Store.state.user.name;
    },
    getReadableSceneNames(pathOrScene) {
      return pathOrScene.replace(/_/g, " ");
    },
    getActiveView() {
      return Store.state.activeView.type.replace(/_/g, " ");
    },
    getLogoutButton() {
      if (Store.state.activeView.type === Constants.VIEW_LOGIN) {
        return "";
      }

      return "logOutButton";
    }
  }
};
</script>

<style scoped>
#content-right {
  text-align: right;
}
#content-right span {
  display: inline-block;
  margin-left: 5px;
}
#content-left {
  text-align: left;
}
</style>
