<template>
  <b-button-group>
    <b-dropdown right :text="text">
      <b-dropdown-item @click="selectDocumentList(listCurrentUser)"
        >Current user documents</b-dropdown-item
      >
      <b-dropdown-item @click="selectDocumentList(listError)"
        >Error documents</b-dropdown-item
      >
      <b-dropdown-item @click="selectDocumentList(listSuspisious)"
        >Suspicious documents</b-dropdown-item
      >
      <b-dropdown-divider></b-dropdown-divider>
      <b-dropdown-item @click="selectDocumentList(listSourceCode)"
        >Source code documents</b-dropdown-item
      >
    </b-dropdown>
  </b-button-group>
</template>

<script>
import Store from "../../store";
import * as Constants from "../../constants";

export default {
  name: "RightActionMenu",
  components: {},
  data() {
    return {
      listCurrentUser: Constants.DOCUMENT_LIST_CURRENT_USER,
      listError: Constants.DOCUMENT_LIST_ERROR,
      listSuspisious: Constants.DOCUMENT_LIST_SUSPISIOUS,
      listSourceCode: Constants.DOCUMENT_LIST_SOURCE_CODE,
      text: "Select document list"
    };
  },
  methods: {
    selectDocumentList(documentListId) {
      Store.dispatch("selectDocumentList", documentListId);
      this.getText();
    },
    getText() {
      const documentListId = Store.state.selectedDocumentList;
      if (documentListId === Constants.DOCUMENT_LIST_CURRENT_USER) {
        this.text = "Current user documents";
      } else if (documentListId === Constants.DOCUMENT_LIST_ERROR) {
        this.text = "Error documents";
      } else if (documentListId === Constants.DOCUMENT_LIST_SUSPISIOUS) {
        this.text = "Suspicious documents";
      } else if (documentListId === Constants.DOCUMENT_LIST_SOURCE_CODE) {
        this.text = "Source code documents";
      } else {
        this.text = "Select document list";
      }
    },
    beforeMount() {
      this.getText();
    }
  }
};
</script>

<style scoped></style>
