<template>
  <div id="alert-box">
    <b-modal
      id="modal12"
      title="BootstrapVue"
      @ok="handleOk"
      @cancel="handleOk"
    >
      <p class="my-4">{{ message }}</p>
    </b-modal>
  </div>
</template>

<script>
import Store from "../../store";
export default {
  name: "Modal",
  props: {
    message: String
  },
  data() {
    return {};
  },
  methods: {
    handleOk() {
      console.log("ok");
    }
  }
};
</script>

<style></style>
