<template>
  <b-container fluid>
    <b-row>
      <b-col cols="2">
        <div class="clearfix">
          <b-img v-bind:src="logo" fluid alt="Fluid image" left></b-img>
        </div>
      </b-col>
      <b-col cols="5"> </b-col>
      <b-col cols="5" class="text-align-right"> </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Logo from "../../assets/logo.png";

export default {
  name: "NavigationLoggedOut",
  data() {
    return {
      logo: Logo
    };
  }
};
</script>

<style></style>
