<template>
  <b-container fluid>
    <b-row>
      <b-col cols="2">
        <div class="clearfix">
          <b-img v-bind:src="logo" fluid alt="Fluid image" left></b-img>
        </div>
      </b-col>
      <b-col cols="5">
        <component v-bind:is="getLeftActionMenu()" />
      </b-col>
      <b-col cols="5" class="text-align-right">
        <component v-bind:is="getRightActionMenu()" />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import RightActionMenu from "./RightActionMenu.vue";
import LeftActionMenuManageFile from "./LeftActionMenu.vue";
import Logo from "../../assets/logo.png";
import Store from "../../store";
import * as Constants from "../../constants";

export default {
  name: "NavigationLoggedIn",
  components: {
    rightActionMenu: RightActionMenu,
    leftActionMenuManageFile: LeftActionMenuManageFile
  },
  data() {
    return {
      logo: Logo
    };
  },
  methods: {
    getRightActionMenu() {
      return "rightActionMenu";
    },
    getLeftActionMenu() {
      if (Store.state.activeView.type === Constants.VIEW_MANAGE_FILES) {
        //return "leftActionMenuManageFile";
        return ""
      }
    }
  },
  mounted() {
    Store.subscribe((mutation, state) => {
      if (mutation.type === "changeView") {
        if (mutation.payload === Constants.VIEW_MANAGE_FILES) {
          this.getLeftActionMenu();
        }
      }
    });
  }
};
</script>

<style></style>
