<template>
  <b-button-group>
    <b-button size="sm" variant="success" v-on:click="handleAddDocumentClick()"
      ><font-awesome-icon icon="file-signature" /> Add new file</b-button
    >
    <b-button size="sm" variant="info" @click="this.handleFileManagementClick"
      ><font-awesome-icon icon="copy" /> File management</b-button
    >
    <b-dropdown right text="Čeština">
      <b-dropdown-item>Angličtina</b-dropdown-item>
      <b-dropdown-item>Rušština</b-dropdown-item>
      <b-dropdown-divider></b-dropdown-divider>
      <b-dropdown-item>Další...</b-dropdown-item>
    </b-dropdown>
  </b-button-group>
</template>

<script>
import Store from "../../store";
import * as Constants from "../../constants";

export default {
  name: "RightActionMenu",
  components: {},
  data() {
    return {};
  },
  methods: {
    handleAddDocumentClick() {
      Store.dispatch("changeView", Constants.VIEW_ADD_NEW_DOCUMENT);
    },
    handleFileManagementClick() {
      Store.dispatch("changeView", Constants.VIEW_MANAGE_FILES);
    }
  }
};
</script>

<style scoped></style>
