<template>
  <vue-dropzone
    v-on:vdropzone-total-upload-progress="updateFiles"
    v-on:vdropzone-complete="uploadingCompleted"
    ref="myVueDropzone"
    id="myVueDropzone"
    :options="dropzoneOptions"
    :destroyDropzone="destroyDropzone"
    :duplicateCheck="duplicateCheck"
  >
  </vue-dropzone>
</template>

<script>
import Store from "../../store";

import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";
export default {
  name: "app",
  components: {
    vueDropzone: vue2Dropzone
  },
  data() {
    return {
      dropzoneOptions: {
        //url:"https://enrv1twwazuh.x.pipedream.net",
        url: "https://httpbin.org/post",
        maxFilesize: Store.state.options.maxFileSize,
        createImageThumbnails: false,
        dictDefaultMessage:
          '<font-awesome-icon icon="upload" />Drop files or click here to upload files.'
        //acceptedFiles: image/*, appliacation/pdf, .psd
      },
      destroyDropzone: false,
      duplicateCheck: true
    };
  },
  methods: {
    //tuto metodu a její použití vyscreenvovat do textu
    updateFiles(totaluploadprogress, totalBytes, totalBytesSent) {
      let files = {
        accepted: this.$refs.myVueDropzone.getAcceptedFiles(),
        rejected: this.$refs.myVueDropzone.getRejectedFiles(),
        queued: this.$refs.myVueDropzone.getQueuedFiles(),
        uploading: this.$refs.myVueDropzone.getUploadingFiles()
      };

      if (totaluploadprogress === 100){
        files.accepted = []
        files.rejected = []
        files.queued = []
        files.uploading = []
      this.$refs.myVueDropzone.removeAllFiles();
      }
      Store.dispatch("updateFileState", files);
      this.$parent.getDataItems();
    },
    uploadingCompleted(response){
      let file = {};
      if (response.status === "success") {
        file = {
            state: "Accepted",
            file: response
          }
      }
      if (response.status === "error") {
        file = {
            state: "Rejected",
            file: response
          }
      }
        
      Store.dispatch("stageUploadedFile", file)
    }
  }
};
</script>

<style>
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #cccccc;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #f39405;
  border-radius: 5px;
}
#myVueDropzone {
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 136px - 100px - 100px);
  padding-top: 100px;
}
#myVueDropzone .dz-error-message {
  top: 80px;
}
#myVueDropzone .dz-preview {
  display: none !important;
}
#myVueDropzone .dz-default {
  display: initial !important;
}
</style>
